.btn_small {
  width: 100px;
  height: 40px;
  background: #134615;
}

.btn_medium {
  width: 120px;
  height: 40px;
  background: #134615;
}

.btn_large {
  width: 140px;
  height: 40px;
  background: #134615;
}